VITE_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-X
VITE_FORMSPREE_ID=xxxxxxxx
VITE_BACKEND_URL=
VITE_OLLAMA_URL=
VITE_OLLAMA_MODEL=llama3.2
VITE_LISTMONK_URL=
VITE_LISTMONK_LIST_UUID=
